# API Security
SECRET_KEY=dzpJPOFjeEfjpfojPOFEJPOFjepçafjepJEfopJOPFJEopfjpozf

# InfluxDB Configuration
INFLUXDB_URL=http://10.10.0.6:8086
INFLUXDB_ORG=apextradelogicorg
INFLUXDB_BUCKET=market_rates
INFLUXDB_TOKEN=fyaCjL2VBFWqhGpHEb4xRMAPrmet3gJcSD8NXZU5s6QzwTdu9n

# API Authentication
MARKET_RATES_API_USERNAME=insertbot
MARKET_RATES_API_PASSWORD=pdzjPJOPEIFjiopFJIOPEfPdzaiodiozOIZghrpgjpKGORfFez


# InfluxDB Configuration
DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=apextradelogic
DOCKER_INFLUXDB_INIT_PASSWORD=GMe94HDnc6tN8jhk3R2PBKCZbL!-sdazfzefFEFfzEFfezf
DOCKER_INFLUXDB_INIT_ORG=apextradelogicorg
DOCKER_INFLUXDB_INIT_BUCKET=market_rates
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=fyaCjL2VBFWqhGpHEb4xRMAPrmet3gJcSD8NXZU5s6QzwTdu9n